@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

#contact {
  font-family: "Syne", sans-serif;

  .nameInput {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #12266e;
    padding-left: 8px;
    color: #dadada;
    font-family: inherit;
    margin-right: 5px;
    font-size: 15px;
    opacity: 0;
    transform: translateX(-100px);
    border-radius: 5px;

    &::-webkit-input-placeholder {
      color: #dadadab4;
    }

    @media screen and (max-width: "1190px") {
      width: 77%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .message {
    width: 76%;
    height: 250px;
    border: none;
    background-color: #12266e;
    margin-top: 8px;
    resize: none;
    font-size: 15px;
    color: #dadada;
    display: block;
    opacity: 0;
    transform: translateY(100px);
    border-radius: 8px;

    padding: 8px;
    &::-webkit-input-placeholder {
      color: #dadadab4;
    }
  }
}
