@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");


body {
  margin: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
  
}

::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 12px; /* Adjust height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #535c91; /* Track color */
}

::-webkit-scrollbar-thumb {
  height: 10px;
  background-color: #1B1A55; /* Scrollbar color */
  border-radius: 5px; /* Round edges */
   /* Space around scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #302ea3; /* Scrollbar color on hover */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
